STORAGE_DIR=/media/andromeda/FamliyFiles
STORAGE_PHOTOS_DIR=/media/andromeda/FamliyFiles/Photos
STORAGE_VIDEOS_DIR=/media/andromeda/FamliyFiles/Videos

# Optional overrides
# FC_PORT=48080
# WEBAPP_DIR=../webapp/dist
# FC_TLS_CERT=certs/server-cert.pem
# FC_TLS_KEY=certs/server-key.pem
